<div *ngIf="!loading">
  <div class="main-container" *ngFor="let player of this.detailPlayers">
    <div class="player-name">{{player.name}}</div>
    <div class="player-stats">
      <div>
        <div class="player-stat">
          Matches played: {{player.matchCount}} &nbsp;&nbsp; Total Score: {{player.score}} &nbsp;&nbsp; Average Score: {{player.averageScore}} &nbsp;&nbsp; Average Placement:
          {{player.averagePlacement}} &nbsp;&nbsp; Average Eliminations: {{player.eliminations}}
        </div>
      </div>
      <div class="circleBase small-circle logo-text">
        F
      </div>
    </div>
  </div>
</div>
