@font-face {
  font-family: anton;
  src: url(../../assets/font/Anton-Regular.ttf) format("opentype");
}

.main-container {
  width: 100%;
  height: auto;
  padding: 15px;
}

.page-header {
  font-size: 60px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800;
  font-family: anton;
}

.content-container {
  padding: 10px;
  width: 100%;
}

.stat-container {
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  width: 75%;
  min-width: 75%;
  margin-bottom: 10px;
}

.stat-table {
 width: 100%
}

.stat-header {
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 800;
  font-family: anton;
}

th.mat-sort-header-sorted {
  color: black;
}
